/* AXIS */
.axis-y .tick:first-of-type {
	/* opacity: 0; */
}

.axis-y .tick:first-of-type text {
	display: none;
}

.axis-y .tick:not(:first-of-type) line {
    /* stroke:rgba(100,100,100,1);
	stroke-dasharray: 1px 2px; */
}

.axis-y .tick line {
    /* stroke:rgba(100,100,100,0);*/
	stroke-dasharray: 0.5px 2px;
}

.axis-x .tick line {
	stroke-width: 0.5px;
}

.domain {
    display: none;
}
