/* LEFT SIDE RED RIBBON */
div.background-strip {
    background-color: #a71930;
    height: 100vh;
    position: fixed;
    width:5%;
}

@media (max-width: 575.98px) {
    div.background-strip {
        background-color: #a71930;
        height: 100vh;
        position: fixed;
        width:2%;
    }
}

div.page-header {
    margin-top: 4rem;
}

div.container-chart {
    margin: 8rem 0;
}

div.logos-container {
    margin: 4rem 0;
}

div.chart-caption {
    margin-bottom: 0.8rem;
    font-size: 0.8rem;
}

div.chart-credit,
div.chart-source {
    font-size: 0.6rem;
}

div.figure-01,
div.figure-03,
div.figure-05,
div.figure-06,
div.figure-07,
div.figure-08,
div.figure-09,
div.figure-10 {
    min-height: 500px;
}

div.legend-03,
div.legend-08,
div.legend-10 {
    min-height: 150px;
}

@media (max-width: 575.98px) {
    div.figure-03,
    div.figure-08,
    div.figure-10 {
        min-height: 300px;
    }

    div.table-03,
    div.table-08,
    div.table-10 {
        min-width: 60%
    }

    div.legend-03,
    div.legend-08,
    div.legend-10 {
        margin: 0 0 0 3%;
        width: 37%;
    }

}

div.bar-node,
div.values-node {
    display: flex;
    flex-direction: row;

}

div.values-node {
    align-content: center;
    align-items: baseline;
    line-height: 1.9rem
}

div.bar {
    background-color: #d6d6d5;
    border-right: 1pt #d6d6d5 solid;
}

div.side-bar {
    margin: 8rem 0 0 0;
}

@media (max-width: 575.98px) {
    div.side-bar {
        margin: 0 0 0 0;
    }
}

.logo1 img {
    width: 90%;
}

.logo2 img {
    width: 100%;
}
