@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

h2.title {
    font-size:2.0rem;
    margin: 2rem 0 1.5rem 0;
    font-weight: 700;
}

h2.subhead {
    font-size: 2rem;
    margin: 3rem 0 1.5rem 0;
}

h3.chart-title {
    font-size: 1.5rem;
    font-weight: 700;
}

h4.chart-subtitle {
    font-size: 1rem;
    margin: 0.5rem 0 1rem 0;
}

h4 {
    margin: 2rem 0 0.5rem 0;
    font-weight: 700;
}

h5.byline {
    font-size: 1.2rem;
    font-weight: normal;
    margin: 0 0 1rem 0;
}

h6.byline {
    font-size: 0.8rem;
    font-weight: normal;
    margin: 0 0 2rem 0;
}

span.bold {
    font-weight: 700;
}

p {
    font-family: 'Open Sans';
}

/* SVG TEXT */

h1,h2,h3,h4,h5,h6,
text {
    font-family: 'Roboto';
    /* font-weight: 300; */
}

h6.table-title,
text.legend-title {
    font-size: 0.7rem;
    font-weight: 700;
    line-height: 1.1rem;
    text-transform: uppercase;
}

text.circle-size-value {
    font-size: 0.8rem;
    font-weight: 700;
}
text.value tspan {
    font-size: 0.7rem;
    fill: darkgrey;
    font-weight: 300;
}

p.label {
    font-weight: 300;
    margin: 0.5rem 0 0.2rem 0;
}

p.total,
p.percent {
    margin: 0 0 0 0.5rem;
}

p.total {
    font-size: 0.8rem;
    font-weight: 700;
    color: black;
}

p.percent {
    font-size: 0.7rem;
    color: black;
    font-weight: 400;
}
